<%= fields_for "search[options]", OpenStruct.new(search_options) do |builder| %>
  <% provider_options.each do |key, value| %>
    <div class="field">
      <%= label_tag do %>
      <%= value[:name] + (value[:required] == true ? "*" : "") %>
        <% if value[:description].present? %>
          <span data-tooltip aria-haspopup="true" class="has-tip tip-right" title="<%= value[:description] %>"><i class="fi-info"></i></span>
        <% end %>
      <% end %>
      <%= builder.text_field key, value: builder.object[key] || value[:default] %>
    </div>
  <% end %>
<% end %>
