<%= form_for(@system_metadata, url: system_metadata_path) do |f| %>
  <% if @system_metadata.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@system_metadata.errors.count, "error") %>
        prohibited this task from being saved:</h2>
      <ul>
        <% @system_metadata.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :key %>
    <%= f.text_field :key %>
  </div>
  <div class="field">
    <%= f.label :metadata %>
    <%= f.text_area :metadata_raw, :value => @system_metadata.metadata.to_s %>
  </div>

  <%= f.submit class: "button" %>
  <%= link_to 'Back', system_metadata_path, class: "button secondary" %>
<% end %>
