<h3>System Metadata</h3>
<p>Define json collections of data you can use across multiple tasks.
Curl Security Task and Github Security Task expect JSON arrays.</p>

<table>
  <thead>
    <tr>
      <th>Key</th>
      <th>Metadata</th>
       <th></th>
    </tr>
  </thead>
  <tbody>
    <% @system_metadata.each do |system_metadatum| %>
      <tr>
        <td><%= system_metadatum.key %></td>
        <td><%= system_metadatum.metadata.to_json %></td>
        <td>
          <%= link_to link_to 'Show', system_metadatum, class: "button tiny" %>
          <%= link_to "Edit", edit_system_metadatum_path(system_metadatum), class: "button tiny" %>
          <%= link_to 'Destroy', system_metadatum, method: :delete, data: { confirm: 'Are you sure?' }, class: "button tiny alert" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New System Metadata', new_system_metadatum_path, class: "button" %>
