<h3>System Metadata</h3>
<p>Define collections of JSON data you can use across multiple tasks.</p>

<table>
  <thead>
    <tr>
      <th>Key</th>
      <th>Metadata</th>
       <th></th>
    </tr>
  </thead>
  <tbody>
    <% @system_metadata.each do |system_metadatum| %>
      <tr>
        <td><%= system_metadatum.key %></td>
        <td><%= system_metadatum.metadata.to_s.truncate(255) %></td>
        <td>
          <%= link_to link_to 'Show', system_metadatum, class: "button tiny" %>
          <% if can? :edit, SystemMetadata %>
            <%= link_to "Edit", edit_system_metadatum_path(system_metadatum), class: "button tiny" %>
          <% end %>
          <% if can? :destroy, SystemMetadata %>
            <%= link_to 'Destroy', system_metadatum, method: :delete, data: { confirm: 'Are you sure?' }, class: "button tiny alert" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if can? :new, SystemMetadata %>
  <%= link_to 'New System Metadata', new_system_metadatum_path, class: "button" %>
<% end %>
