<%= label_tag do %>URL
  <%= f.text_field :url_cont %>
<% end %>
<%= label_tag do %>Title
  <%= f.text_field :title_cont %>
<% end %>
<%= label_tag do %>Tags
  <%= f.collection_select :tags_id_in, Tag.all, :id, :name_value, {}, {class: "select2",:multiple=>true} %>
<% end %>
<%= label_tag do %>Assignee
  <%= f.collection_select :user_id_in, User.all, :id, :email, {}, {class: "select2",:multiple=>true} %>
<% end %>
<%= label_tag do %>Status
  <%= f.collection_select :status_id_in, Status.all, :id, :name, {}, {class: "select2",:multiple=>true} %>
<% end %>
<%= label_tag do %>Search
  <%= f.collection_select :searches_id_in, Search.all, :id, :name, {}, {class: "select2",:multiple=>true} %>
<% end %>
<hr/>
<h5>Workflow</h5>
<%= label_tag do %>Workflow Flag
  <%= f.collection_select :flags_id_in, Flag.all, :id, :name, {}, {class: "select2",:multiple=>true} %>
<% end %>
<%= label_tag do %>Workflow Stage
  <%= f.grouped_collection_select :stages_id_in, Workflowable::Workflow.all.includes(:stages), :stages, :name, :id, :name, {}, {class: "select2",:multiple=>true} %>
<% end %>
<%= f.check_box :status_id_includes_closed, {class: "checkbox", "checked"=> params.try(:[],:q).try(:[],:status_id_includes_closed) == "1" ? "checked" : "" }, "1" %>
<%= label_tag "Include closed?" %><br/>
