<section id="homepage-hero">

    <div class="authform">
    <h1>Scumblr</h1>
        <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
        <%= render partial: 'shared/notification', locals: {message: flash[:notice] } if flash[:notice] %>
        <%= render partial: 'shared/notification', locals: {message: flash[:alert] } if flash[:alert] %>
          <div class="form-inputs">
            <%= f.input :email, :required => false, :autofocus => true %>
            <%= f.input :password, :required => false %>
            <%= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Sign in", class: "button small" %>
            <% if User.devise_modules.include?(:omniauthable) %>
              <%= render partial: "omniauth_button", locals: {f: f } %>
            <% end %>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>

    </div>

</section>

